@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('montserrat/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'MontserratLight';
  src: url('montserrat/Montserrat-Light.otf');
}

@font-face {
  font-family: 'MontserratHairline';
  src: url('montserrat/Montserrat-Hairline.otf');
}

body {
  font-family: 'Montserrat';
}

.navbar-nav > li > a {
  font-size: 18px;
  line-height: 40px;
}

.navbar-inverse .navbar-collapse {
  background-color: #222;
}
